@media screen and (max-width: 600px) {

html {
    font-size: calc(1vw / 6);
}


a {
    font-size: 40rem;}
p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 20rem;
    color: #515151;
    text-align: left;
    line-height: 20rem;
    width: 580rem;
    margin-top: 20rem;
}
.btn {
    display: flex
;
    flex-direction: row;
    width: 580rem;
    margin-top: 30rem;
    gap: 10rem;
    margin-bottom: 40rem;
}
  #head {
    display: flex;
    flex-direction: column;
    width: 560rem;
    align-items: start;
    gap: 20rem;
    margin-top: 20rem;
  }
  #index {
    width: 600rem;
  }
  .indexConteiner {
    display: flex;
    flex-direction: column;
    width: 580rem;
    margin-top: 20rem;
  }
  .indexConteinerText {
    display: flex;
    flex-direction: column;
    width: 580rem;
    gap: 20rem;
    margin-bottom: 20rem;
  }
  h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50rem;
    color: #515151;
    text-align: left;
    line-height: 50rem;
    width: 580rem;
    margin-top: 20rem;
  }
  li {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16rem;
    color: #515151;
    text-align: left;
    line-height: 26rem;
  }
  .portrait img {
    width: 580rem;
  }
  h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 50rem;
    color: #515151;
    text-align: left;
    line-height: 50rem;
    width: 560rem;
    margin-top: 20rem;
  }
input[type='radio'],
input[type='checkbox'] {
  width: 30rem;
  margin-right: 6rem;
      margin: 0px 0px 0px 0px;
}
label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    margin-bottom: 10rem;
    color: #333;
    font-size: 20rem;
}
form {
    width: 560rem;
    margin: 40rem auto;
    padding: 20rem;
    border: 1rem solid #ccc;
    border-radius: 8rem;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
input, textarea, select {
    width: 100%;
    border: 1rem solid #aaa;
    border-radius: 4rem;
    font-size: 20rem;
    font-family: inherit;
    color: #333;
    background-color: #fff;
}
}
@media screen and (max-width: 1024px) {
  html {
    font-size: calc(1vw / 10.24);
}
.btn {
    display: flex
;
    flex-direction: row;
    width: 980rem;
    margin-top: 30rem;
    gap: 10rem;
    margin-bottom: 40rem;
}
  #head {
    display: flex;
    flex-direction: column;
    width: 980rem;
    align-items: start;
    gap: 20rem;
    margin-top: 20rem;
  }
  #index {
    width: 1024rem;
  }
  .indexConteiner {
    display: flex;
    flex-direction: column;
    width: 980rem;
    margin-top: 20rem;
  }
  .indexConteinerText {
    display: flex;
    flex-direction: column;
    width: 980rem;
    gap: 20rem;
    margin-bottom: 20rem;
  }
  h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50rem;
    color: #515151;
    text-align: left;
    line-height: 50rem;
    width: 980rem;
    margin-top: 20rem;
  }
  li {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16rem;
    color: #515151;
    text-align: left;
    line-height: 26rem;
  }
  .portrait img {
    width: 980rem;
  }
  p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 30rem;
    color: #515151;
    text-align: left;
    line-height: 39rem;
    width: 980rem;
    margin-top: 20rem;
}
  h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 50rem;
    color: #515151;
    text-align: left;
    line-height: 50rem;
    width: 980rem;
    margin-top: 20rem;
  }
input[type='radio'],
input[type='checkbox'] {
  width: 30rem;
  margin-right: 6rem;
      margin: 0px 0px 0px 0px;
}
label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    margin-bottom: 10rem;
    color: #333;
    font-size: 20rem;
}
form {
    width: 560rem;
    margin: 40rem auto;
    padding: 20rem;
    border: 1rem solid #ccc;
    border-radius: 8rem;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
input, textarea, select {
    width: 100%;
    border: 1rem solid #aaa;
    border-radius: 4rem;
    font-size: 20rem;
    font-family: inherit;
    color: #333;
    background-color: #fff;
}
}
