@font-face {
  font-family: 'Rodchenko';
  src: url('../fonts/rodchenkoctt.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Artusi';
  src: url('../fonts/fonnts.com-artusigrande-regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
