* {
  box-sizing: border-box;
}
html {
  font-size: calc(1vw / 19.2);
}

#index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 118rem;
  color: #515151;
  text-align: left;
  line-height: 118rem;
  width: 1532rem;
  margin-top: 50rem;
}
a {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20rem;
  color: #515151;
  text-align: left;
  line-height: 24rem;
}
#head,
#head2 {
  display: flex;
  flex-direction: row;
  width: 1532rem;
  align-items: left;
  gap: 20rem;
  margin-top: 50rem;
}
p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 30rem;
  color: #515151;
  text-align: left;
  line-height: 39rem;
  width: 1532rem;
  margin-top: 20rem;
}

.dots {
  list-style-type: disc;
  margin-left: 40px; /* немного отступа слева, чтобы точки не прилипали к краю */
  padding-left: 0;
}
#number {
  list-style-type: decimal;
  margin-left: 40px; /* немного отступа слева, чтобы точки не прилипали к краю */
  padding-left: 0;
}

li {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20rem;
  color: #515151;
  text-align: left;
  line-height: 26rem;
}
.indexConteiner {
  display: flex;
  flex-direction: row;
  width: 1532rem;
  margin-top: 150rem;
}

.indexConteinerText {
  display: flex;
  flex-direction: column;
  width: 917rem;
  gap: 50rem;
}

.portrait img {
  width: 611rem;
}
h3 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 30rem;
  color: #515151;
  text-align: left;
  line-height: 39rem;
}
h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 80rem;
  color: #515151;
  text-align: left;
  line-height: 80rem;
  width: 1532rem;
  margin-top: 200rem;
}
.btn {
  display: flex;
  flex-direction: row;
  width: 1532rem;
  align-items: left;
  margin-top: 50rem;
  gap: 10rem;
  margin-bottom: 150rem;
}
.images {
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 20rem;
  width: 1532rem;
  height: 366rem;
  margin-top: 40rem;
}
.moreimg {
  height: 32rem;
}

.thumbnail {
  width: 100px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: 0.3s;
}

.thumbnail:hover {
  transform: scale(1.05);
  border-color: #999;
}

/* Таблица с фоном и контентом */
table {
  border-collapse: collapse;
  width: 80%;
  margin: 40rem auto;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: center;
}

td,
th {
  border: 1px solid #999;
  padding: 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 30rem;
  color: #515151;
  text-align: left;
  line-height: 38rem;
  width: 1532rem;
  margin-top: 200rem;
}

.cell-img img {
  width: 300rem;
  height: auto;
}

a {
  color: #515151;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

form {
  width: 80%;
  max-width: 600rem;
  margin: 40rem auto;
  padding: 20rem;
  border: 1rem solid #ccc;
  border-radius: 8rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

form h2 {
  text-align: center;
  color: #515151;
  font-size: 24rem;
  margin-bottom: 16rem;
}

label {
  display: block;
  margin-bottom: 10rem;
  color: #333;
  font-size: 18rem;
}

input,
textarea,
select {
  width: 100%;
  padding: 8rem 10rem;
  margin-top: 4rem;
  margin-bottom: 16rem;
  border: 1rem solid #aaa;
  border-radius: 4rem;
  font-size: 16rem;
  font-family: inherit;
  color: #333;
  background-color: #fff;
}

input[type='radio'],
input[type='checkbox'] {
  width: auto;
  margin-right: 6rem;
}

input[type='submit'] {
  width: auto;
  background-color: #515151;
  color: white;
  border: none;
  padding: 10rem 20rem;
  border-radius: 4rem;
  font-size: 16rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type='submit']:hover {
  background-color: #333;
}

nav a.active {
  font-weight: bold;
  color: #1a3397;
  text-decoration: underline;
}

